body {
    font-family: "Courier";
  }
  
  #score,
  .highscore {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
  }
  
  
  
  #game {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
  }
  
  
  #dino {
    height: 75px;
    width: 75px;
    top: 225px;
    position: relative;
    background-image: url("https://github.com/kriscfoster/chrome-dino-game/blob/master/dino.png?raw=true");
    background-size: cover;
  }
  
  .dino-dies {
    background-color: red;
  }
  
  #rock {
    width: 50px;
    height: 50px;
    position: relative;
    top: 175px;
    left: 550px;
    background-image: url("https://github.com/kriscfoster/chrome-dino-game/blob/master/rock.png?raw=true");
    background-size: cover;
    animation: rock 1.33s infinite;
  }
  
  @keyframes rock {
    0% {
      left: 550px;
    }
  
    100% {
      left: -50px;
    }
  }
  
  .jump-animation {
    animation: jump 0.5s;
  }
  
  @keyframes jump {
    0% {
      top: 225px;
    }
  
    50% {
      top: 75px;
    }
  
    75% {
      top: 75px;
    }
  
    100% {
      top: 225px;
    }
  }
  
  
  
  #background {
    position: absolute;
    width: 600px;
    height: 300px;
    background-image: url("https://github.com/kriscfoster/chrome-dino-game/blob/master/background.jpg?raw=true");
    background-size: cover;
    animation: moveBg 10.33s linear infinite;
  }
  
